.container {
  background: white;
  padding: 2em;

  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    app-search-bar {
      width: 100%;
    }
  }

  app-tags {
    padding: 1em;
  }
}
