.container {
  display: flex;
  flex-direction: row;
  padding: 2em;

  .category {
    margin-top: 1em;
    color: grey;
    font-weight: normal;
  }
  .date-and-category {
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    .date-time {
      display: flex;
      flex-direction: column;
      font-weight: bold;
    }
  }

  .details {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: x-large;
      font-weight: 600;
    }

    .description {
      font-weight: 500;
    }
  }
}
